In [12]:
a = [1, 2, 3, 4, 'onion', 'book', 3.76]
type(a)
a[4]

'onion'

In [14]:
a = int(input("Enter your Number"))
for i in range (0, a):
    if i%2 == 0:
        print(i)

Enter your Number10
0
2
4
6
8

In [23]:
n = int(input("Enter your Number"))
for i in range (0, n):
    for j in range (0, i+1):
        print('*', end="")
    print("\r")

Enter your Number10
*
**
***
****
*****
******
*******
********
*********
**********

In [24]:
def pyramid(n):
    for i in range (0, n):
        for j in range (0, i+1):
            print("*", end="")
        print("\r")

n = 6
pyramid(n)

*
**
***
****
*****
******

In [9]:
n = ['potato', 'new', 'water', 1, 10, 3.234]
print(n)
n[2] = 12
n[5] = 'golalo'
print(n)
n.append(45)
print(n)
n.append([89, 'fullkopi'])
print(n)
n[1][1]

['potato', 'new', 'water', 1, 10, 3.234]
['potato', 'new', 12, 1, 10, 'golalo']
['potato', 'new', 12, 1, 10, 'golalo', 45]
['potato', 'new', 12, 1, 10, 'golalo', 45, [89, 'fullkopi']]

'e'